<div class="action">
    <h1>
        <%= title %>
    </h1>

    <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" method="post" enctype="multipart/form-data">

        <label for="lang">Language <span>*</span></label>

        <select name="lang" class="lang-selector" required>
            <option value="" disabled selected>Choose Language</option>

            <% langs.forEach((elem)=> { %>
                <option value="<%= elem.code %>" <%=data.lang===elem.code? "selected" : "" %>>
                    <%= elem.code %>
                </option>
                <% }); %>

        </select>
        <label for="title">Title <span>*</span></label>
        <input type="text" id="title" name="title" value="<%= data.title %>" required>

        <label for="discount">Discount <span>*</span></label>
        <input type="number" id="discount" name="discount" value="<%= String(data.discount).replace(/[^0-9.]/g, '') %>" required>

        <label for="price">Price <span>*</span></label>
        <input type="number" id="price" name="price" value="<%= data.price %>" required>

        <label for="image">Image <span>*</span></label>
        <input type="hidden" name="oldImage" value="<%= data.image %>">

        <div class="image-box">
            <img id="preview" src="<%= data.image %>" class="image-preview active" alt="Current image">
            <input type="file" accept="image/*" id="image" name="image" >
        </div>

        <button type="submit" class="submit">Update</button>

    </form>
</div>